<!doctype html>
<html>
<head>

  <title>Jordan Hatch</title>

  <style type="text/css">
    @import url('css/foundation.min.css');
    @import url('css/base.css');
  </style>

  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% endif %}
</head>
<body>

  <div class="wrap">
    <header>
      <div class="row">
        <div class="four columns">
          <h1>Jordan Hatch</h1>
        </div>
        <div class="three columns contact">
          <p><a href="mailto:jordan@jordanh.net">jordan@jordanh.net</a></p>
        </div>
      </div>
    </header>

    {{ content }}
  </div>

</body>
</html>
